.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;

  &__left {
    padding-left: 15px;
  }

  &__right {
    display: flex;
    align-items: center;
    padding-right: 15px;
    gap: 13px;
    color: #7b7c85;
  }

  &__search {
    display: flex;
    align-items: center;
    padding: 3px;
    border-radius: 5px;
    background-color: #282831;

    input {
      background: transparent;
      outline: none;
      color: white;
      border: none;
    }
  }

  .MuiSvgIcon-root {
    cursor: pointer;
  }
}
